<html>
<head>
	<title>Add new post</title>
</head>
<body>
	<h3>Add a new post</h3>
<!-- post creates a new resource/request (?) -->
		<form method="POST" action="/posts">
			<input type="text" name="topic" placeholder="Topic">
			<br/>
			<textarea type="text" rows="8" cols="50" name="mainbody" placeholder="Write here"></textarea>
			<br/>		
<!-- 			<input type="text" name="day" placeholder="Day">
 -->			<input type="submit">
		</form>
</body>
</html>




